  header{
    display:flex;
    height: fit-content;
    flex-direction: row;
    width: auto;
    margin-top: 30px;
    padding-left: 20px;
    padding-right: 40px;
    align-items: center;
    align-content:space-between;
    justify-content: space-between;
  }
  .Card1{
    background-color: #FE632B;
    color: #fff;
    border-radius: 20px;
    height: 100%;
    
  }

  .wallet{
    background-color: #FE632B;
    width: 35px;
    height: 35px;
    display: flex;
    align-self: baseline;
    margin-right: 20px;
  }
  .CardInfoSuperior{
    display: flex;
    width:auto;
    margin-left: 20px;
    margin-right: 20px;
    flex-direction: row;
    justify-content: space-between;
    height: fit-content;
    padding: 20px;
    border-radius: 20px;
    background-color: #FE632B;

  }


  span{
    background-color: #FE632B;
    font-weight: 400;
    font-size: 18px;
  }
text{
  color: #fff;
  font-size: 20px;
  margin-left: 45px;


}
.Precisar{
  color: #fff;
  background-color: #FE632B;
  text-align: left;
  align-self: baseline;
  height: fit-content;
  width: 80px;
  font-size: 16px;
  
}
.HorizontalScrollList{
  display: flex;
  flex-direction: row;
  height: fit-content;
  width: auto;
  gap: 8px;
  overflow-x: auto;
  padding-left: 20px;
  padding-right: 20px;
}
.Minicard{
  padding: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  background-color: #FE632B;
  border-radius: 25px;
  width: 150px;
  height: 110px;
  align-self: baseline;
}

  .pix{
    width: 25PX;
    height: 25px;
    background-color: #FE632B;
    align-self: baseline;
  }

.Saldo{
  font-size:40px;
  font-weight: 700;
}

.Logo{
  width: 160px;
  height: 110px;
}
.Logo128{
  width: 75px;
  background-color: #FE632B;
  height: 75px;
  display: flex;
  align-self:baseline;
}
.Gear{
  width: 40px;
  height: 40px;
  background-color: #FE632B;
  padding: 8px;
  border-radius: 200px;
}



  .Input{
    height: 35px;
    background-color: white;
    border: 20px;
    font-size: 16px; 
    padding: 8px;
    font-weight: bold;
  }
 
  .backgroundHome{
    background-color: #1b1b1b;
  }


ScrollContainer{
  display: flex;
  flex-direction: row;
  height: auto;
  max-width: max-content;

}
